*.avi

*.o
*.so
*.so.*
*~
#*#

*.xml
*.cmake
*.make
*.txt
*.cbp
*.internal
*.log

*.stips
*.stip
*.bow


archives/*
tmp/*
actmngt/bdd/*
actmngt/out/*

# Documentation
refman.pdf

journal_de_bord.txt

# Exceptions
!CMakeLists.txt
