*.avi

*.o
*.so
*.so.*
*~
#*#

*.xml
*.cmake
*.make
*.txt
*.cbp
*.internal
*.log

*.stips
*.stip
*.bow

build-fabtc/
build-fabtc/*

archives/*
tmp/*
actmngt/bdd/*
actmngt/out/*
lib/*

# Documentation
refman.pdf

journal_de_bord.txt

# Exceptions
!CMakeLists.txt
